<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="datasource=10.10.10.1; user id=test; password=test;" providerName="SN.Data.Db2.iDB2Provider"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
